.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
}

.dropdown-menu li:hover > ul.dropdown-menu{
    display:block;

}


nav ul ul {
    position: absolute; top: 100%;
}

nav ul ul li {
    position: relative;
}

li ul.dropdown-menu.sub_menu_elitum{
    position: absolute;
    left: 100%;
    top: -5px;
}



